@each $class-name, $padding in $padding-list {
  .p#{$padding-separator}#{$class-name} {
    padding: $padding;
  }

  .pt#{$padding-separator}#{$class-name} {
    padding-top: $padding;
  }

  .pr#{$padding-separator}#{$class-name} {
    padding-right: $padding;
  }

  .pb#{$padding-separator}#{$class-name} {
    padding-bottom: $padding;
  }

  .pl#{$padding-separator}#{$class-name} {
    padding-left: $padding;
  }

  .py#{$padding-separator}#{$class-name} {
    padding-top: $padding;
    padding-bottom: $padding;
  }

  .px#{$padding-separator}#{$class-name} {
    padding-left: $padding;
    padding-right: $padding;
  }
}