.vertical-align{$vertical-align-separator}baseline {
  vertical-align: baseline;
}

.vertical-align{$vertical-align-separator}top {
  vertical-align: top;
}

.vertical-align{$vertical-align-separator}middle {
  vertical-align: middle;
}

.vertical-align{$vertical-align-separator}middle {
  vertical-align: middle;
}

.vertical-align{$vertical-align-separator}bottom {
  vertical-align: bottom;
}