// Size
.bg-size#{$background-separator}cover {
  background-size: cover;
}

.bg-size#{$background-separator}contain {
  background-size: contain;
}

// Position
.bg-position#{$background-separator}center {
  background-position: center;
}

.bg-position#{$background-separator}right {
  background-position: right;
}

.bg-position#{$background-separator}bottom {
  background-position: bottom;
}