@each $class-name, $margin in $margin-list {
  .m#{$margin-separator}#{$class-name} {
    margin: $margin;
  }

  .mt#{$margin-separator}#{$class-name} {
    margin-top: $margin;
  }

  .mr#{$margin-separator}#{$class-name} {
    margin-right: $margin;
  }

  .mb#{$margin-separator}#{$class-name} {
    margin-bottom: $margin;
  }

  .ml#{$margin-separator}#{$class-name} {
    margin-left: $margin;
  }

  .my#{$margin-separator}#{$class-name} {
    margin-top: $margin;
    margin-bottom: $margin;
  }

  .mx#{$margin-separator}#{$class-name} {
    margin-left: $margin;
    margin-right: $margin;
  }
}